body
{
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

#content
{
    background-color: white;
    padding-top: 45px;
    min-height: 350px;
}

.top-bar {
    position: fixed;
    z-index: 1000;
    background-color: #222;
    margin-bottom: 0;
}

.divider {
    background-color: #444 !important;
}

.user-follow-button
{
    margin-left: 5px;
}

/**
 *     The top-section of a users profile, which shows their profile picture and such
 */
.user-block
{
    padding: 10px 0;
    margin-bottom: 0;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width:620px)
{
    .user-block
    {
        margin-top: 40px;
    }
    
    .user-block-image
    {
        width: 100px;
    }
}

/**
 *     A wrapper to hold a collection of Audio Clips
 */
.audio-feed
{
}

/**
 *     Audio Clip view (/gobal/audio-clip-player.php)
 */
.audio-clip
{
    width: 517px;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
}

.user-photo {
    float: left;
    width: 65px;
    height: 65px;
    background-color: #eee;
    overflow: hidden;
}
.user-photo img {
    max-width: 65px;
}


.audio-clip .action-button {
    position: absolute;
    top: 28px;
    color: #bbb;
    cursor: pointer;
    font-size: 1.2em;
}

.audio-clip .action-button:hover
{
    color: #e54c52;
}

.audio-clip .play-count {
    right: 65px;
}

.audio-clip .like-button {
    right: 26px;
}

.audio-clip .share-button
{
    right: 0;
}

.audio-clip .like-button.liked {
    color: rgb(153, 27, 27);
}
.audio-clip .play-count .count {
    position: relative;
    top: 2px;
    font-size: 10px;
    color: #333;
}
.audio-clip .like-button .count {
    position: relative;
    top: 2px;
    font-size: 10px;
    color: #333;
}
        

.audio-clip-info {
    margin-left: 75px;
}

.audio-clip-title {
    margin: 0 0 5px;
    font-size: 1.5em;
}

.audio-clip-metadata {
    position: relative;
    width: 422px;
    padding-top: 5px;
}

.audio-clip-metadata,
.audio-clip-metadata .post-date,
.audio-clip-metadata .location {
    font-size: 11px;
    color: #666;
}

.audio-clip-metadata .post-date,
.audio-clip-metadata .location {
    font-family: "OpenSansSemiBold", "Helvetica Neue", Arial, sans-serif;
}

.audio-clip-metadata .category {
    position: absolute;
    top: 3px;
    right: 0;
}

/* player styles */
.audio-player {    
    width: 422px;
    min-height: 36px;
    background-color: #f8f8f8;
}

.audio-player-btn
{
    display: inline-block;
    font-size: 25px;
}

.audio-player-progress-wrapper
{
    border: 1px solid purple;
    width: 100%;
}

.audio-player-progress
{
    width: 0%;
    background-color: pink;
    height: 15px;
}

.audiojs {
    width: 422px;
    box-shadow: none;
}
.audiojs .play-pause {
    width: 38px;
}
.audiojs .scrubber {
    width: 364px;
}
.audiojs .time {
    display: none;
}


.user-block-image
{
    max-width: 100%;
    height: auto;
}

/**
 *     User Sidebar view (/user-sidebar.php)
 */
.sidebar
{
    position: fixed;
    top: 45px;
    width: 236px;
    list-style: none;
    padding: 10px 10px 10px 20px;
}

.sidebar ul
{
    list-style: none;
}

.sidebar-item
{
    margin: 3px 0;
}

.sidebar-item-name
{
    font-weight: bolder;
}

.sidebar-item-value
{
    
}

@media only screen and (max-width:620px)
{
    .sidebar
    {
        left: 0;
        right: 0;
        border-radius: 0;
        top: 40px;
        background-color: white;
    }
    
    .sidebar-item
    {
        display: inline;
    }
}

dl.sub-nav {
    margin: 0;
}
    dl.sub-nav dd a {
/*        font-family: "OpenSansSemiBold", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; */
        color: #aaa;
    }
    dl.sub-nav dd.active a {
        background: 0;
        font-weight: normal;
        font-family: "OpenSansSemiBold", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
        color: #e54c52;
    }
    
.fb-comments {
    margin-left: 45px;
}
